<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://html5-templates.com/" />
  <title>TrackMe Timer - now written in C!</title>
  <meta name="description" content="The famous trackMe Bash script now in a more mature C version application.">
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body>
  <header>
    <div id="logo"><img src="logo.svg"></>TrackMe</div>
    <nav>
      <ul>
        <li><a href="/">Home</a>
      </ul>
    </nav>
  </header>

  <section>
    <strong>Edit timer</strong>
  </section>

  <section id="pageContent">
    <main role="main">
      <article>
        <TMPL_IF name = "start_time">
          <h2>Change the values you wish to update.</h2>
          <form action="/edit_timer" method="post">
            <table>
              <tbody>
                <tr>
                  <td><label>Activity:</label></td>
                  <td> <input type="text" id="activity" name="activity" value="<TMPL_VAR name = "activity">"> <br><br></td>
                </tr>
                <tr>
                  <td> <label>Client:</label> </td>
                  <td> <input type="text" id="client" name="client" value="<TMPL_VAR name = "client">"> <br><br></td>
                </tr>
                <tr>
                  <td><label>Project:</label></td>
                  <td> <input type="text" id="project" name="project" value="<TMPL_VAR name = "project">"> <br><br></td>
                </tr>
                <tr>
                  <td><label>Description:</label></td>
                  <td> <input type="text" id="description" name="description" value="<TMPL_VAR name = "description">"> <br><br></td>
                </tr>
                <tr>
                  <td><label>Start time:</label></td>
                  <td> <input type="text" id="description" name="description" value="<TMPL_VAR name = "start_time">"> <br><br></td>
                </tr>
                <tr>
                  <td><label>End time:</label></td>
                  <td> <input type="text" id="end time" name="end time" value="<TMPL_VAR name = "end_time">"> <br><br></td>
                </tr>
                <tr>
                  <td colspan="2"><input type="submit" value="Update"></td>
                </tr>
              </tbody>
            </table>
          </form>
        <TMPL_ELSE>
          <h2>Failed!</h2>
          <p>No running timer to edit at the moment. Start one?</p>
        </TMPL_IF>
      </article>
    </main>
    <aside>
      <form action="./start_timer.html">
        <button type="submit"> Start Timer </button>
      </form>
      <form action="./stop_timer.html">
        <button type="submit"> Stop Timer </button>
      </form>
      <form action="./switch_entry.html">
        <button type="submit"> Switch entry </button>
      </form>
    </aside>
  </section>

  <footer>
    <p>HTML template from <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
    <address>
      Contact: <a href="mailto:admin@blaklinten.xyz">Mail me</a>
    </address>
  </footer>
</body>
</html>
